div#floating-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 60px;
	right: 30px;
}

div#floating-buttons > a {
	text-decoration: none;
	padding: 20px;
	padding: 15px 45px;
	color: #FFF;
	background-color: #999;
	border: none;
	cursor: pointer;
	transition: all 0.2s linear;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

div#floating-buttons > a:first-child {
	margin-bottom: 10px;
}

div#floating-buttons > a:hover {
	background-color: #666;
}

div#floating-buttons > a:active {
	background-color: #666;
	background-color: #999;
	transform: translateY(2px);
}

div#code {
	font-family: 'Courier New';
}